MetroCard.Presentacion/Service References/WSPago/PagoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetroCard.Service.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetroCard.Service.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25195/PagoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetroCard.Service.Dominio" />
  <xs:complexType name="TarjetaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsValido" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetroCard.Service.Dominio" minOccurs="0" name="Tarjeta" nillable="true" type="q1:Tarjeta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TarjetaResponse" nillable="true" type="tns:TarjetaResponse" />
</xs:schema>